.tBtn {
  text-align: center;
}

.dltBtn {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  height: 30px;
  width: 30px;
  border: none;
  background-color: rgb(255, 160, 160);
  font-size: 20px;
  transition: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
}

.dltBtn:hover {
  background-color: rgb(200, 0, 0);
  cursor: pointer;
}
